:root {
    --containers: hsl(80, 90%, 50%);
    --lines: #000000;
    --default-text: #000000;
    --background: #ffffff;
    --slide: hsl(0, 0%, 95%);
}

* {
    font-family: monospace;
    color: var(--default-text);
    transition: 0.3s all;
}

body {
    background: var(--background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

button {
    padding: 12px 8px;
    border: 2px solid var(--lines);
    background: none;
    color: var(--text);
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 3px 3px 0px var(--lines);
}

div#title {
    font-size: 28px;
    font-weight: bold;
}