#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    height: 500px;
    width: 500px;
    border: 2px solid var(--default-text);
    padding: 0;
    margin: 0;
}

#game {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#statistics {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
    font-size: 18px;
}