#menu {
    height: 35px;
    width: 35px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    cursor: pointer;
}

#menu div {
    height: 2px;
    width: 90%;
    margin: 4px;
    background: var(--default-text);
}

#slide {
    position: fixed;
    height: 100vh;
    background: var(--slide);
    overflow: hidden;
}

#slide * {
    margin: 20px;
}

#slide ul {
    font-size: large;
}

.close {
    width: 0;
}

.open {
    width: 380px;
    border-right: 2px solid var(--lines);
}